<app-home-index-header></app-home-index-header>
<!-- Home Banner -->
<section class="home-banner-three">
    <owl-carousel-o [options]="clinicsOptions" class="home-three-slider">
        <ng-container *ngFor="let slide of bannerslides" >
            <ng-template carouselSlide>
                <div class="item">
                    <img src="{{slide.img}}" class="img-fluid" alt="">
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
    <div class="banner-wrapper-three">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-12" >
                    <div class="banner-wrapper doc-form d-lg-block d-md-none banner-wrapper-left">
                        <div class="app-form">
                            <div class="banner-three-content">
                                <h2>Doctor Appointments</h2>
                                <h2><span>Online. Anytime.</span></h2>
                                <p>Discover top-quality physicians at the most competitive prices. Schedule an appointment in minutes for exceptional care.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="banner-wrapper doc-form banner-wrapper-right">
                        <div class="app-form app-form-one">
                            <form action="#" class="doctor-form">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>Search</label>
                                            <input type="text" placeholder="Search symptom, speciality, medication or pharmacy" class="form-control" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <div class="input-group">
                                                <input type="text" placeholder="Enter location" class="form-control" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-map-marker-alt" style="color: #0071dc; height: 38px; line-height: 38px;"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <!-- <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label>Gender</label>
                                            <select class="select form-control form-select">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>                                    -->
                                    <div class="col-md-12 col-lg-12">
                                        <a [routerLink]="'/patients/search-doctor'" class="btn btn-one w-100">Search</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Home Banner -->

<!-- Looking Section Four -->
<section class="looking-section-four">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-four text-center aos" data-aos="fade-up">
                    <h2>What are you <span class="color-primary">looking</span> for?</h2>
                </div>
            </div>
        </div>
        <div class="row looking-row justify-content-center aos" data-aos="fade-up">
            <div class="col-lg-3 col-md-6 looking-col d-flex">
                <div class="looking-grid-four w-100">
                    <div class="looking-box-four">
                        <div class="looking-inner-box">
                            <div class="looking-info-four">
                                <a [routerLink]="'/patients/search-doctor'">
                                    <i class="fas fa-user-md me-2"></i>Doctor
                                </a>
                                <p>We've got the best specialists to deliver top-notch diagnostic services for you.</p>
                            </div>
                            <div class="looking-four-btn">
                                <a [routerLink]="'/patients/booking'">
                                    Book Now <i class="fas fa-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex looking-col">
                <div class="looking-grid-four w-100">
                    <div class="looking-box-four">
                        <div class="looking-inner-box">
                            <div class="looking-info-four">
                                <a [routerLink]="'../pharmacy/pharmacy-search'">
                                    <i class="fas fa-hospital me-2"></i> Pharmacy
                                </a>
                                <p>Discover a nearby pharmacy for your prescriptions.</p>
                            </div>
                            <div class="looking-four-btn">
                                <a [routerLink]="'../pharmacy/pharmacy-search'">
                                    Find Now <i class="fas fa-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex looking-col">
                <div class="looking-grid-four w-100">
                    <div class="looking-box-four">
                        <div class="looking-inner-box">
                            <div class="looking-info-four">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-vial me-2"></i>Lab
                                </a>
                                <p>Locate a lab for diagnostic tests and analysis.</p>
                            </div>
                            <div class="looking-four-btn">
                                <a [routerLink]="'/patients/booking'">
                                    Book Now <i class="fas fa-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex looking-col">
                <div class="looking-grid-four w-100">
                    <div class="looking-box-four">
                        <div class="looking-inner-box">
                            <div class="looking-info-four">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-pills me-2"></i>Medication
                                </a>
                                <p>Find the medication you require.</p>
                            </div>
                            <div class="looking-four-btn">
                                <a [routerLink]="'/patients/booking'">
                                    Book Now <i class="fas fa-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Looking Section Four -->


<!-- popular section-->
<section class="section section-doctor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-header aos" data-aos="fade-up">
                    <h2>Top-rated online doctors & specialists available now</h2>
                </div>
                <div class="about-content aos" data-aos="fade-up">
                    <p>Explore a wide range of options from numerous providers, offering affordable prices every day. Secure your booking online today.</p>
                    <p>Access highly-rated online doctors and specialists who are currently available to provide medical assistance.</p>
                </div>
            </div>
            
            <div class="col-lg-8">
                <!-- <div class="doctor-slider slider aos" data-aos="fade-up">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigure">
                        <div class="slick-slide" *ngFor="let doctor of doctors;let i=index">
                            <div ngxSlickItem>
                                <div class="profile-widget" style="width: 100%; display: inline-block;">
                                    <div class="doc-img">
                                        <a [routerLink]="'/patients/doctor-profile'"
                                            [queryParams]="{id: doctor.id}" tabindex="-1">
                                            <img class="img-fluid" alt="User Image" [src]="doctor.profile">
                                        </a>
                                        <a href="javascript:void(0)" class="fav-btn" tabindex="-1">
                                            <i class="far fa-bookmark"></i>
                                        </a>
                                    </div>
                                    <div class="pro-content">
                                        <h3 class="title">
                                            <a [routerLink]="'/patients/doctor-profile'"
                                                [queryParams]="{id: doctor.id}"
                                                tabindex="-1">{{doctor.doctor_name}}</a>
                                            <i class="fas fa-check-circle verified"></i>
                                        </h3>
                                        <p class="speciality">{{doctor.Education}}</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">({{doctor.span}})</span>
                                        </div>
                                        <ul class="available-info">
                                            <li>
                                                <i class="fas fa-map-marker-alt"></i> {{doctor.location}}
                                            </li>
                                            <li>
                                                <i class="far fa-clock"></i> {{doctor.Available}}
                                            </li>
                                            <li>
                                                <i class="far fa-money-bill-alt"></i> {{doctor.Price}}
                                                <a href="javascript:void(0)" tooltip="Lorem Ipsum" placement="top"><i class="fas fa-info-circle"></i></a>
                                            </li>
                                        </ul>
                                        <div class="row row-sm">
                                            <div class="col-6">
                                                <a [routerLink]="'/patients/doctor-profile'"
                                                    [queryParams]="{id: doctor.id}" class="btn view-btn"
                                                    tabindex="-1">View Profile</a>
                                            </div>
                                            <div class="col-6">
                                                <a [routerLink]="'/patients/booking'"
                                                    [queryParams]="{id: doctor.id}" class="btn book-btn"
                                                    tabindex="-1">Book
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div> -->
                <owl-carousel-o [options]="ourdoctorsOptions" class="our-doctors">
                    <ng-container *ngFor="let slide of ourdoctorsslides" >
                        <ng-template carouselSlide>
                            <div class="item">
                                <div class="our-doctors-card">
                                    <div class="doctors-header">
                                        <a [routerLink]="'/patients/doctor-profile'"><img src="{{slide.img}}" alt="" class="img-fluid"></a>
                                        <div class="img-overlay">
                                            <span>{{slide.range}}</span>
                                        </div>
                                    </div>
                                    <div class="doctors-body">
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <span class="d-inline-block average-ratings">{{slide.rating}}</span>
                                        </div>
                                        <a [routerLink]="'/patients/doctor-profile'"><h4>{{slide.name}}</h4></a>
                                        <p>{{slide.speciality}}</p>
                                        <div class="location d-flex">
                                            <p><i class="fas fa-map-marker-alt"></i> {{slide.address}}</p>
                                            <p class="ms-auto"><i class="fas fa-user-md"></i> {{slide.count}} Consultations</p>
                                        </div>
                                        <div class="row row-sm">
                                            <div class="col-6">
                                                <a [routerLink]="'/patients/doctor-profile'" class="btn view-btn" tabindex="0">View Profile</a>
                                            </div>
                                            <div class="col-6">
                                                <a [routerLink]="'/patients/booking'" class="btn book-btn" tabindex="0">Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!--popular section-->
<!-- Best Doctor Section -->
<!-- <section class="best-doctor-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header aos" data-aos="fade-up">
                    <h2 class="color-primary">Top-rated online doctors & specialists available now.</h2>
                    <p class="color-grey">Explore a wide range of options from numerous providers, offering affordable prices every day. Secure your booking online today.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="best-doctor-slider slider aos" data-aos="fade-up">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigure">
                        <div class="slick-slide" *ngFor="let doctor of doctorslide;let i=index">
                            <div ngxSlickItem>
                                <div class="best-doctor-widget">
                                    <div class="best-doctor-image">
                                        <a href="javascript:void(0)">
                                            <img [src]="doctor.img" class="img-fluid" alt="">
                                        </a>
                                        <div class="overlay">
                                            <div class="pro-icon">
                                                <img [src]="doctor.speciality" class="img-fluid" alt="">
                                            </div>
                                            <div class="social-info">
                                                <a href="" target="_blank"><i class="fab fa-facebook hi-icon"></i></a>
                                                <a href="" target="_blank"><i class="fab fa-linkedin hi-icon"></i></a>
                                                <a href="" target="_blank"><i class="fab fa-instagram hi-icon"></i></a>
                                                <a href="" target="_blank"><i class="fab fa-twitter hi-icon"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="doctor-verify-overlay d-flex">
                                            <a href="javascript:void(0)">
                                                <span class="doctor-writter">Verified</span>
                                                <img src="assets/img/best-doctor-check.svg" alt="">
                                            </a>
                                        </div>
                                        <div class="doctor-fav-btn">
                                            <a href="javascript:void(0)" class="fav-icon" tabindex="0">
                                                <i class="far fa-bookmark"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="provider-info text-center">
                                        <h3 class="mb-1">
                                            <a [routerLink]="'/patients/doctor-profile'" tabindex="0">{{doctor.doctor_name}}</a>
                                        </h3>
                                        <p>{{doctor.specialist}}</p>
                                        <div>
                                            <div class="rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star"></i>
                                                <span class="d-inline-block average-rating">4.9 ( {{doctor.rating}} )</span>
                                            </div>
                                        </div>
                                        <div class="content-info">
                                            <div class="doctor-appointment-btn">
                                                <a [routerLink]="'/patients/booking'" class="btn btn-two">Book Appointment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="aos" data-aos="fade-up">
                    <a [routerLink]="'/patients/booking'" class="btn btn-two">View More</a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- /Best Doctor Section -->

<!-- Browse Section Five -->
<section class="browse-section-five">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header section-header-five text-center aos" data-aos="fade-up">
                    <h2 class="title-five">Browse by Specialities</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon1.svg" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Primary Care</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon7.svg" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">OB/GYN</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon4.svg" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Orthopedic</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon3.svg" alt="" class="img-fluid spec-img">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Cardiologist</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon8.svg" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Urology</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon9.svg" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Neurology</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon10.svg" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Gastroenterology</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon11.svg" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Anesthetics</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon11.svg" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Pediatrics</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon11.svg" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Dermatology</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon11.svg" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Anesthetics</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    <div class="specialist-img-five">
                        <img src="assets/img/icons/icon11.svg" alt="" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Radiology</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Browse Section Five -->
<!-- Browse symptoms -->
<!-- <section class="browse-section-five">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header section-header-five text-center aos" data-aos="fade-up">
                    <h2 class="title-five">Browse by Symptoms</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Back Pain</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    
                    <div class="specialist-info">
                        <a href="javascript:void(0)">UTI</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                   
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Flu, cough, or cold</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">                    
                    
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                  
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Fever</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                    
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Tooth Pain</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                   
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Ear infection</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                 
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Sore throat</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
              
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Vomiting</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                   
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Diarrhea</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                  
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Dizziness</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card-five d-flex hvr-bounce-to-right">
                   
                    <div class="specialist-info">
                        <a href="javascript:void(0)">Asthma</a>
                    </div>
                    <div class="specialist-nav-five ms-auto">
                        <a href="javascript:void(0)"><i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- /Browse symptoms -->

<!-- Blog Section Four -->
<section class="blog-section-four">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-four text-center aos" data-aos="fade-up">
                    <h2 class="title-four">Our Latest <span class="color-primary">Blogs</span></h2>
                    <p class="sub-title color-grey">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="grid-blog-four w-100">
                    <div class="grid-blog-image">
                        <a [routerLink]="'/blog/blog-details'">
                            <img class="img-fluid" src="assets/img/blog/blog-01.jpg" alt="News Image">
                        </a>
                        <div class="blog-title-four">
                            <a [routerLink]="'/blog/blog-details'" class="btn">Health</a>
                        </div>
                        <div class="blog-date-four">
                            <a href="javascript:void(0)">
                                <i class="feather-calendar me-2"></i>
                                <span>4 Jan 2022</span>
                            </a>
                        </div>
                    </div>
                    <div class="blog-info-four">
                        <a [routerLink]="'/blog/blog-details'">How to handle patient body in MRI</a>
                    </div>
                    <div class="blog-doctors-four">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <a [routerLink]="'/patients/doctor-profile'">
                                    <img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="me-2"><span>Dr. Ruby Perrin</span>
                                </a>
                            </div>
                            <div>
                                <p>Urology</p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-four-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="blog-four-arrow">
                        <a [routerLink]="'/blog/blog-details'">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="grid-blog-four w-100">
                    <div class="grid-blog-image">
                        <a [routerLink]="'/blog/blog-details'">
                            <img class="img-fluid" src="assets/img/blog/blog-02.jpg" alt="News Image">
                        </a>
                        <div class="blog-title-four">
                            <a [routerLink]="'/blog/blog-details'" class="btn">General</a>
                        </div>
                        <div class="blog-date-four">
                            <a href="javascript:void(0)">
                                <i class="feather-calendar me-2"></i>
                                <span>13 Feb 2022</span>
                            </a>
                        </div>
                    </div>
                    <div class="blog-info-four">
                        <a [routerLink]="'/blog/blog-details'">Doccure – Making your clinic painless visit?</a>
                    </div>
                    <div class="blog-doctors-four">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <a [routerLink]="'/patients/doctor-profile'">
                                    <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="" class="me-2"><span>Dr. Darren Elder</span>
                                </a>
                            </div>
                            <div>
                                <p>Surgery</p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-four-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="blog-four-arrow">
                        <a [routerLink]="'/blog/blog-details'">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="grid-blog-four w-100">
                    <div class="grid-blog-image">
                        <a [routerLink]="'/blog/blog-details'">
                            <img class="img-fluid" src="assets/img/blog/blog-04.jpg" alt="News Image">
                        </a>
                        <div class="blog-title-four">
                            <a [routerLink]="'/blog/blog-details'" class="btn">Neurology</a>
                        </div>
                        <div class="blog-date-four">
                            <a href="javascript:void(0)">
                                <i class="feather-calendar me-2"></i>
                                <span>26 Mar 2022</span>
                            </a>
                        </div>
                    </div>
                    <div class="blog-info-four">
                        <a [routerLink]="'/blog/blog-details'">Benefits of consulting with an Online Doctor</a>
                    </div>
                    <div class="blog-doctors-four">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <a [routerLink]="'/patients/doctor-profile'">
                                    <img src="assets/img/doctors/doctor-thumb-03.jpg" alt="" class="me-2">	<span>Dr. Angel</span>
                                </a>
                            </div>
                            <div>
                                <p>Cardiology</p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-four-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="blog-four-arrow">
                        <a [routerLink]="'/blog/blog-details'">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a [routerLink]="'/blog/blog-details'" class="btn btn-one">View More</a>
        </div>
    </div>
</section>
<!-- /Blog Section Four -->

<app-home-index-footer></app-home-index-footer>