<!-- Page Content -->

<div class="row">
    <div class="col-md-8 offset-md-2">
    
        <!-- Account Content -->
        <div class="account-content">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 col-lg-6 login-left">
                    <img src="assets/img/login-banner.png" class="img-fluid" alt="Login Banner">	
                </div>
                <div class="col-md-12 col-lg-6 login-right">
                    <div class="login-header">
                        <h3>Doctor Register <a [routerLink]="'/register'">Not a Doctor?</a></h3> 
                    </div>
                    
                    <!-- Register Form -->
                    <form class="form" [formGroup]="form" *ngIf=" verifyShow == false">
                        <div class="form-group form-focus">
                            <input
                                type="text"
                                formControlName="firstname"
                                class="form-control floating"
                                [ngClass]="{ 'is-invalid': (f['firstname'].touched || f['firstname'].dirty || submitted) && f['firstname'].errors} "
                                [(ngModel)]="firstname"
                            />
                            <label class="focus-label">Firstname</label>
                            <div *ngIf=" (f['firstname'].touched || f['firstname'].dirty || submitted) && f['firstname'].errors " class="invalid-feedback">
                                <div *ngIf="f['firstname'].errors['required'] || submitted">Firstname is required</div>
                                <div *ngIf="f['firstname'].errors['minlength']">
                                  Firstname must be at least 6 characters
                                </div>
                                <div *ngIf="f['firstname'].errors['maxlength']">
                                  Firstname must not exceed 20 characters
                                </div>
                              </div>
                        </div>

                        <div class="form-group form-focus">
                          <input
                              type="text"
                              formControlName="middlename"
                              class="form-control floating"
                              [ngClass]="{ 'is-invalid': (f['middlename'].touched || f['middlename'].dirty || submitted) && f['middlename'].errors} "
                              [(ngModel)]="middlename"
                          />
                          <label class="focus-label">Middlename</label>
                          <div *ngIf=" (f['middlename'].touched || f['middlename'].dirty || submitted) && f['middlename'].errors" class="invalid-feedback">
                              <div *ngIf="f['middlename'].errors['required'] || submitted">Middlename is required</div>
                              <div *ngIf="f['middlename'].errors['minlength']">
                                Middlename must be at least 6 characters
                              </div>
                              <div *ngIf="f['middlename'].errors['maxlength']">
                                Middlename must not exceed 20 characters
                              </div>
                            </div>
                        </div>

                        <div class="form-group form-focus">
                            <input
                                type="text"
                                formControlName="lastname"
                                class="form-control floating"
                                [ngClass]="{ 'is-invalid': (f['lastname'].touched || f['lastname'].dirty || submitted) && f['lastname'].errors} "
                                [(ngModel)]="lastname"
                            />
                            <label class="focus-label">Lastname</label>
                            <div *ngIf=" (f['lastname'].touched || f['lastname'].dirty || submitted) && f['lastname'].errors" class="invalid-feedback">
                                <div *ngIf="f['lastname'].errors['required'] || submitted">Lastname is required</div>
                                <div *ngIf="f['lastname'].errors['minlength']">
                                  Lastname must be at least 6 characters
                                </div>
                                <div *ngIf="f['lastname'].errors['maxlength']">
                                  Lastname must not exceed 20 characters
                                </div>
                              </div>
                        </div>

                        <div class="form-group form-focus">
                            <input type="email" 
                                    name="email" 
                                    formControlName="email" 
                                    id="email" 
                                    class="form-control floating" 
                                    [ngClass]="{ 'is-invalid': (f['email'].touched || f['email'].dirty || submitted) && f['email'].errors}"
                                    [(ngModel)]="email"
                                    >
                            <label class="focus-label">Email</label>
                            <div *ngIf="(f['email'].touched || f['email'].dirty || submitted) && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required'] || submitted">Email is required</div>
                                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                            </div>	
                        </div>

                        <div class="form-group form-focus">
                            <input  type="text" 
                                name="mobile"  
                                formControlName="mobile"
                                class="form-control floating" 
                                [(ngModel)]="mobile" max="9"
                                id="mobile"
                                [ngClass]="{'is-invalid': (f['mobile'].touched || f['mobile'].dirty || submitted) && f['mobile'].errors}"
                            >
                            <label class="focus-label">Whatsapp Number</label>
                            <div *ngIf="(f['mobile'].touched || f['mobile'].dirty || submitted) && f['mobile'].errors" class="invalid-feedback">
                                <div *ngIf="f['mobile'].errors['required'] || submitted">mobile is required</div>
                                <div *ngIf="f['mobile'].errors['mobile']">mobile is invalid</div>
                            </div>
                        </div>

                        <div class="form-group form-focus">
                            <input type="text" id="license" class="form-control floating" formControlName="license"
                                [ngClass]="{ 'is-invalid': (f['license'].touched || f['license'].dirty || submitted) && f['license'].errors}"
                                [(ngModel)]="license" max="6"> 
                            <label class="focus-label">License</label>
                            <div *ngIf="(f['license'].touched || f['license'].dirty || submitted) && f['license'].errors" class="invalid-feedback">
                                <div *ngIf="f['license'].errors['required'] || submitted">license is required</div>
                                <div *ngIf="f['license'].errors['license']">license is invalid</div>
                            </div>
                        </div>
                            
                        <div class="form-group radio d-flex filter-widget">
                            <div class="radio">
                                <label class="custom_check">
                                    <input type="checkbox" name="gender_type" value="Male"  (click)="checkType($event)"  [checked]="gender === 'Male'">
                                    <span class="checkmark"></span> Male
                                </label>
                            </div>
                            <div class="radio">
                                <label class="custom_check">
                                    <input type="checkbox" name="gender_type" value="Female"  (click)="checkType($event)"  [checked]="gender === 'Female'">
                                    <span class="checkmark"></span> Female
                                </label>
                            </div>
                            
                        </div>
                        
                        <div class="form-group form-focus">
                            <select 
                                id="speciality"
                                name="speciality" 
                                class="custom-select form-control floating" 
                                [ngClass]="{ 'is-invalid': (f['speciality'].touched || f['speciality'].dirty || submitted) && f['speciality'].errors}" 
                                [(ngModel)]="speciality" >
                                <option selected disabled>Select Speciality</option>
                                <option [value]="specialities.speciality" *ngFor="let specialities of speciality_list" >
                                    {{ specialities.speciality}}
                                </option>
                            </select>
                            <label class="focus-label">Speciality</label>
                            <div *ngIf="(f['speciality'].touched || f['speciality'].dirty || submitted) && f['speciality'].errors" class="invalid-feedback">
                                <div *ngIf="f['speciality'].errors['required'] || submitted">Speciality is required</div>
                            </div>
                        </div>
                        <div class="form-group form-focus">
                            <input 	
                                type="password" 
                                name="password" 
                                id="password" 
                                class="form-control floating"
                                formControlName="password"
                                [ngClass]="{ 'is-invalid': (f['password'].touched || f['password'].dirty || submitted) && f['password'].errors}" 
                                [(ngModel)]="password" />
                            <label class="focus-label">Password</label>
                            <div *ngIf="(f['password'].touched || f['password'].dirty || submitted) && f['password'].errors" class="invalid-feedback">
                                <div *ngIf="f['password'].errors['required'] || submitted">Password is required</div>
                                <div *ngIf="f['password'].errors['minlength']">
                                  Password must be at least 6 characters
                                </div>
                                <div *ngIf="f['password'].errors['maxlength']">
                                  Password must not exceed 40 characters
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-focus">
                            <input
                              type="password"
                              name="confirmPassword"
                              formControlName="confirmPassword"
                              class="form-control floating"
                              [ngClass]="{ 'is-invalid': (f['confirmPassword'].touched || f['confirmPassword'].dirty || submitted) && f['confirmPassword'].errors }"
                              [(ngModel)]="confirmPassword"
                            />
                            <label class="focus-label">confirm Password</label>
                            <div
                              *ngIf="(f['confirmPassword'].touched || f['confirmPassword'].dirty || submitted) && f['confirmPassword'].errors"
                              class="invalid-feedback">
                              <div *ngIf="f['confirmPassword'].errors['required'] || submitted">
                                Confirm Password is required
                              </div>
                              <div *ngIf="f['confirmPassword'].errors['matching']">
                                Confirm Password does not match
                              </div>
                            </div>
                        </div>

                        <div class="text-end">
                            <a class="forgot-link" [routerLink]="'/login'">Already have an account?</a>
                        </div>
                        <button class="btn btn-primary w-100 btn-lg login-btn" type="submit" (click)="signup()">Signup</button>
                        <div class="login-or">
                            <span class="or-line"></span>
                            <span class="span-or">or</span>
                        </div>
                        <div class="row form-row social-login">
                            <div class="col-12">

                                <a class="btn btn-google w-100" 
                                
                                 (click)="authService.GoogleAuth()"><i class="fab fa-google me-1"></i> Login</a>
                            </div>
                        </div>
                    </form>
                    <!-- /Register Form -->
                    <!-- Phone verification -->
                    <form class="form" *ngIf="verifyShow == true && submitted== true ">
                        <div class="form-group form-focus">
                            <input  type="text" 
                                name="verify"  
                                
                                class="form-control floating" 
                                [(ngModel)]="verify" max="6"
                                id="verify"  
                            >
                            <label class="focus-label">Verify Mobile</label>
                        </div>
                        <div>
                            <button
                                type="button"
                                (click)="verifyCode()"
                                class="btn btn-primary w-100 btn-lg login-btn">
                                Send Code
                            </button>
                        </div>
                        
                    </form>
                    <!-- /Phone -->
                </div>
            </div>
        </div>
        <!-- /Account Content -->
            
    </div>
</div>

<!-- /Page Content -->
