<app-home-index-header></app-home-index-header>
<div class="content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-8 offset-md-2">
                    
                <!-- Register Content -->
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="assets/img/login-banner.png" class="img-fluid" alt="Doccure Register">	
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Patient Register<a href="javascript:void(0)" [routerLink]="'/doctors/doctor-register'">Are you a Doctor?</a></h3>
                            </div>
                            
                            <!-- Register Form -->
                            <form class="form" [formGroup]="form" *ngIf="verifyShow == false">
                                <div class="form-group form-focus">
                                    <!-- <input type="text" name="username"  class="form-control floating" [(ngModel)]="username"> -->
                                    <input
                                        type="text"
                                        formControlName="username"
                                        class="form-control floating"
                                        [ngClass]="{ 'is-invalid': (f['username'].touched || f['username'].dirty) && f['username'].errors} "
                                    
                                        [(ngModel)]="username"
                                    />
                                    <label class="focus-label">Username</label>
                                    <div *ngIf=" (f['username'].touched || f['username'].dirty) && f['username'].errors " class="invalid-feedback">
                                        <div *ngIf="f['username'].errors['required']">Username is required</div>
                                        <div *ngIf="f['username'].errors['minlength']">
                                          Username must be at least 6 characters
                                        </div>
                                        <div *ngIf="f['username'].errors['maxlength']">
                                          Username must not exceed 20 characters
                                        </div>
                                      </div>
                                </div>

                                <div class="form-group form-focus">
                                    <input type="email" 
											name="email" 
											formControlName="email" 
											id="email" 
											class="form-control floating" 
											[ngClass]="{ 'is-invalid': (f['email'].touched || f['email'].dirty) && f['email'].errors }"
											[(ngModel)]="email"
											>
                                    <label class="focus-label">Email</label>
                                    <div *ngIf="(f['email'].touched || f['email'].dirty) && f['email'].errors" class="invalid-feedback">
										<div *ngIf="f['email'].errors['required']">Email is required</div>
										<div *ngIf="f['email'].errors['email']">Email is invalid</div>
									</div>	
                                </div>

                                <div class="form-group form-focus">
                                    <input  type="text" 
                                        name="mobile"  
                                        formControlName="mobile"
                                        class="form-control floating" 
                                        [(ngModel)]="mobile" max="9"
                                        id="mobile"
                                        [ngClass]="{'is-invalid': 
                                        (f['mobile'].touched ||
                                         f['mobile'].dirty) &&
                                         f['mobile'].errors }"
                                    >
                                    <label class="focus-label">Mobile Number</label>
                                    <div *ngIf="(f['mobile'].touched || f['mobile'].dirty) && f['mobile'].errors" class="invalid-feedback">
                                        <div *ngIf="f['mobile'].errors['required']">mobile is required</div>
										<div *ngIf="f['mobile'].errors['mobile']">mobile is invalid</div>
                                    </div>
                                </div>
                                <!-- <div>
                                    <form f="ngForm" [formGroup]="phoneForm">
                                        <div class="wrapper">
                                          <ngx-intl-tel-input
                                            cssClass="'custom'"
                                            [preferredCountries]="preferredCountries"
                                            [enableAutoCountrySelect]="true"
                                            [enablePlaceholder]="true"
                                            [searchCountryFlag]="true"
                                            [searchCountryField]="[
                                              SearchCountryField.Iso2,
                                              SearchCountryField.Name
                                            ]"
                                            [selectFirstCountry]="false"
                                            [selectedCountryISO]="CountryISO.India"
                                            [phoneValidation]="true"
                                            [separateDialCode]="separateDialCode"
                                            [numberFormat]="PhoneNumberFormat.National"
                                            name="phone"
                                            formControlName="phone"
                                          >
                                          </ngx-intl-tel-input>
                                          <div style="margin-top: 20px; margin-bottom: 10px">
                                            <small
                                              class="alert alert-danger"
                                              *ngIf="
                                                !phoneForm.controls['phone'].valid &&
                                                phoneForm.controls['phone'].touched
                                              "
                                            >
                                              <span *ngIf="phoneForm.controls['phone'].errors?.['required']">
                                                Phone number is required.
                                              </span>
                                              <span *ngIf="phoneForm.controls['phone'].errors">
                                                Phone number need to have 10 character
                                              </span>
                                            </small>
                                          </div>
                                        </div>
                                        <div class="wrapper">
                                          <button class="btn btn-success" (click)="f.reset()">Reset</button>
                                        </div>
                                      </form>
                                </div> -->
                                    
                                <div class="form-group radio d-flex filter-widget">
                                    <div class="radio">
                                        <label class="custom_check">
                                            <input type="checkbox" name="gender_type" value="Male"  (click)="checkType($event)"  [checked]="gender === 'Male'">
                                            <span class="checkmark"></span> Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="custom_check">
                                            <input type="checkbox" name="gender_type" value="Female"  (click)="checkType($event)"  [checked]="gender === 'Female'">
                                            <span class="checkmark"></span> Female
                                        </label>
                                    </div>
                                    
                                </div>
                                <!-- (change)="fileChange($event)" -->
                                <!-- <div class="form-group">
                                    <input 
                                        type="file"
                                        
                                        placeholder="Upload file"
                                        accept=".ico,.png,.jpg">
                                </div> -->

                                <div class="form-group form-focus">
									<input 	
                                        type="password" 
                                        name="password" 
                                        id="password" 
                                        class="form-control floating"
                                        formControlName="password"
                                        [ngClass]="{ 'is-invalid': (f['password'].touched || f['password'].dirty) && f['password'].errors }" 
                                        [(ngModel)]="password" />
									<label class="focus-label">Password</label>
									<div *ngIf="(f['password'].touched || f['password'].dirty) && f['password'].errors" class="invalid-feedback">
										<div *ngIf="f['password'].errors['required']">Password is required</div>
										<div *ngIf="f['password'].errors['minlength']">
										  Password must be at least 6 characters
										</div>
										<div *ngIf="f['password'].errors['maxlength']">
										  Password must not exceed 40 characters
										</div>
									</div>
								</div>
                                <div class="form-group form-focus">
                                    <input
                                      type="password"
                                      name="confirmPassword"
                                      formControlName="confirmPassword"
                                      class="form-control floating"
                                      [ngClass]="{ 'is-invalid': (f['confirmPassword'].touched || f['confirmPassword'].dirty) && f['confirmPassword'].errors }"
                                      [(ngModel)]="confirmPassword"
                                    />
                                    <label class="focus-label">confirm Password</label>
                                    <div
                                      *ngIf="(f['confirmPassword'].touched || f['confirmPassword'].dirty) && f['confirmPassword'].errors"
                                      class="invalid-feedback">
                                      <div *ngIf="f['confirmPassword'].errors['required']">
                                        Confirm Password is required
                                      </div>
                                      <div *ngIf="f['confirmPassword'].errors['matching']">
                                        Confirm Password does not match
                                      </div>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <a class="forgot-link" [routerLink]="'/login'">Already have an account?</a>
                                </div>
                                <button class="btn btn-primary w-100 btn-lg login-btn" type="submit" (click)="signup()">Signup</button>
                                <div class="login-or">
                                    <span class="or-line"></span>
                                    <span class="span-or">or</span>
                                </div>
                                <div class="row form-row social-login">
                                    <div class="col-12">

										<a class="btn btn-google w-100" 
										
										 (click)="authService.GoogleAuth()"><i class="fab fa-google me-1"></i> Login</a>
									</div>
                                </div>
                            </form>
                            <!-- /Register Form -->
                            <!-- Phone verification -->
                            <form class="form" *ngIf="verifyShow == true && submitted== true ">
                                <div class="form-group form-focus">
                                    <input  type="text" 
                                        name="verify"  
                                        placeholder="Send Code"
                                        class="form-control floating" 
                                        [(ngModel)]="verify" max="6"
                                        id="verify"  
                                    />
                                    <label class="focus-label">Verify Mobile</label>
                                </div>
                                <div>
                                    <button
                                        type="button"
                                        (click)="verifyCode()"
                                        class="btn btn-primary w-100 btn-lg login-btn">
                                        Send Code
                                    </button>
                                </div>
                                
                            </form>
                            <!-- /Phone -->
                        </div>
                    </div>
                </div>
                <!-- /Register Content -->
                    
            </div>
        </div>

    </div>

</div>		
<app-home-index-footer></app-home-index-footer>